@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --yellow: #fffd44;
  --purple: #ff0057;
  --green: #00ff0a;
  --white: #fff;
  --black: #111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

form {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}
h1 {
  font-size: 2rem;
  color: var(--white);
}

input {
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 40px;
  outline: none;
  font-size: 1.2rem;
  color: var(--white);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

button {
  width: 100%;
  padding: 12px 20px;
  border-radius: 40px;
  border: none;
  font-size: 1.2em;
  color: var(--white);
  cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(45deg, var(--purple), var(--yellow));
}

button:hover {
  filter: drop-shadow(0 0 5px var(--yellow));
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
p {
  color: var(--yellow);
  transition: 0.5s;
  cursor: pointer;
}
p:hover {
  color: var(--yellow);
}

i {
  position: absolute;
  border: 2px solid var(--white);
  inset: 0;
  transition: 0.5s;
}

.b1 {
  border-radius: 38% 65% 63% 35%/ 41% 45% 58% 60%;
  animation: clockwise 7s linear infinite;
}

.b2 {
  animation: clockwise 4s linear infinite;
  border-radius: 42% 44% 55% 60%/ 38% 61% 64% 37%;
}

.b3 {
  border-radius: 41% 44% 55% 60%/ 38% 61% 64% 37%;
  animation: counterclockwise 10s linear infinite;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

form:hover .b1 {
  border: 6px solid var(--green);
  filter: drop-shadow(0 0 20px var(--green));
}
form:hover .b2 {
  border: 6px solid var(--purple);
  filter: drop-shadow(0 0 20px var(--purple));
}
form:hover .b3 {
  border: 6px solid var(--yellow);
  filter: drop-shadow(0 0 20px var(--yellow));
}
